@media (width <= 600px) { /*Celulares*/
   
    .container {
        width: 100%;
    }
    .container-box {
        width: 100%;
    }
    .container-menu {
        width: 70%;
    }
    .container-main-content {
        width: 100%;
    }
    .asidebar {
        width: 100%;
    
    }
    .article-container {
        width: 100%;
    }
    .asidebar {
        width: 70%;
    }
    .sidebar {
        width: 100%;
        
    }
    img {
        width: auto;
    }
}

@media (601px <= width <= 1199px) { /*Tablets*/
   
    .container {
        width: 50%;
        margin: auto;
    }
    .container-box {
        width: 70%;
    }
    .container-menu {
        width: 70%;
    }
    .container-main-content {
        width: 70%;
    }
    .asidebar {
        width: 100%;

    }

}

@media (width >= 1367px) { /*Pantallas grandes*/
   
    .container {
        width: 50%;
    }
    .container-box {
        width: 70%;
    }
    .container-menu {
        width: 70%;
    }
    .container-main-content {
        width: 70%;
    }
    .asidebar {
        width: 100%;
    }
    .sidebar {
        width: 100%;
        
    }
}