body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
  }
  
  header {
    background-color: #4CAF50;
    padding: 1rem;
    text-align: center;
  }

  header img {
    width: 80px;
    height: 80px;
    float: right;
    margin-top: -5rem;
  }

  header h1 {
    color: white;
    font-size: 1.5rem;
  }

  h2{
    text-align: center;
  }

  nav {
    background-color: #333;
    height: 50px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  nav ul li {
    padding: 0 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  nav ul li a:hover {
    background-color: #4CAF50;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .main-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  .article-container {
    flex: 2;
    background-color: #c0c0c0;
    border-radius: 30px;
  }
  
  .article {
    background-color: gray;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  
  .article h2 {
    margin-top: 0;
  }
  
  .article p {
    margin-bottom: 1rem;
  }
  
  .article a {
    display: block;
    margin-bottom: 1rem;
  }

  .article-container img {
    width: 50%;
    border-radius: 20px;
  }
  
  aside {
    flex: 1;
    margin-left: 2rem;
  }
  
  aside h3 {
    color: #4CAF50;
    margin-bottom: 1rem;
  }
  
  aside form {
    label {
      display: block;
      margin-bottom: 0.5rem;
    }
    
    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="time"] {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
    }
    
    button[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      cursor: pointer;
    }
    
    button[type="submit"]:hover {
      background-color: #3e8e41;
    }
  }
  
  footer {
    background-color: #333;
    padding: 1rem;
    color: white;
    text-align: center;
    margin-top: 2rem;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  